[submodule "native/sherpa-onnx"]
	path = native/sherpa-onnx
	url = https://github.com/k2-fsa/sherpa-onnx.git
[submodule "native/llama.cpp"]
	path = native/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
